.g
{
    color:#4285f4;
}
.o
{
    color:#ea4335;

}
.oo
{
  color:#fbbc05;
}
.gg
{
    color:#4285f4;
}
.l
{
  color:#34a853;
}
.e
{
    color:#ea4335;
}
.google
{
    font-size: 100px;
}
.google-btn
{
    
    width:300px;
    height: 50px;
    background-color:#34a853;
    color:white;
    border:none;
}